<div>
    <form action="/profile" method="post">
        <input type="text" id="name" name="name" value="<%-user.name%>" required="true">
        <br><br>
        <input type="text" id="email" name="email" value="<%-user.email%>" required="true">
        <br><br>
        <a href="/orders"> <h3>Previous orders</h3></a>
        <br>
        <button type="submit">Update Profile</button>  
    </form>
</div>

<style>
    input{
        font-size: 25px;
    }
</style>