<div class="order-page">
    <h1 class="title">Your Orders</h1>

    <% orderslist.map(orders => { %>
    <div class="orderlist">
        <% orders.map(order=>{%>
            <div class="list-item" onclick="new function(){window.location.href = '/orders/<%-order.orderId%>'}">
                <h2> Total: <%=order.total%></h2>
                <div class="list-item-main">
                    <p> Ordered on: <strong><%=order.date%></strong> </p>
                    <% if(!order.status){%>
                    <p> Status: <span class="pending">Payment Pending</span> </p>
                    <button class="pay-later"
                        onclick='new function(){window.location.href = "<%=order.payment_link%>";
                        event.stopPropagation();}'>Pay Now</button>
                    <% } else {%>
                    <p> Status: <span class="done">Payment Complete</span> </p>
                    <% } %>
                </div>
            </div>
        </a>
        <%}) %>
    </div>
    <%}) %>
</div>

<style>
    .pay-later {
        z-index: 1;
        width: max-content;
        height: max-content;
        margin-top: 20px;
        padding: 6px;
        background: #111;
        color: #eee;
        cursor: pointer;
        font-size: 19px;
        border: none;
        border-radius: 7px;
    }

    .list-item-main {
        margin-top: 20px;
    }

    .pending {
        color: red;
    }

    .done {
        color: #16e16e;
    }

    .title {
        text-align: center;
        margin: 20px;
    }

    .order-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .orderlist {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .list-item {
        z-index: 0;
        width: 300px;
        min-height: 200px;
        background-color: #eee;
        margin: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Jost', sans-serif;
        border-radius: 10px;
        margin-top: 10px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        text-decoration: none;
    }
</style>